
@mixin nthChild($modifier) {
    &:nth-child(#{$modifier}n+1) {
        margin: 1% 1% 25px 0;
    }
}

/*
	Group of thumbnail items with meta data.
	Used for tracks, and artists view
*/

.item-row {
    margin: 15px 0 0 0;
}

/*
	Responsive thumbnail items with captions
*/
.item-group .item {
    display: inline-block;
    width: 10.6%;
    margin: 1% 1% 25px 1%;

    @include nthChild(8);

    .thumb {
        position: relative;

        .uk-overlay-toggle {
            > a:first-of-type {
                width: 100%;
            }
        }

        img {
            border: 5px solid $base-module-bg;
            width: 100%;
        }

        .OverlayNav {
            a {
                color: #FFF;
                text-decoration: none;
                cursor: pointer;
                margin: 0 5px 0 0;
            }
        }
    }

    .meta {
        float: left;
        margin: 5px 0 0 0;
        width: 100%;

        .caption { margin: 0 0 3px 0; }
        .sub-caption { color: $base-light-font-color; }
        .caption, .sub-caption {
            height: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

/*
	Non-responsive small thumbnail items with captions
*/
.item-group .small-item {
	@extend .item;
    font-size: $base-font-size;
    margin: 0 10px 0 0;
    width: 75px;

    .thumb {
        cursor: pointer;

        img {
            height: 75px;
        }
    }

    .meta {
    	margin: 0;
        .caption, .subcaption {
            width: 75px;
            height: auto;

        }
    }
}


.item-group.list {
    padding: 0 13px 0 0;
}

.item-group .item.listItem {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 5px;
    clear: both;
    overflow: hidden;
    background: #FAFAFA;
    border: 1px solid #EEE;
    border-bottom: 2px solid #EEE;

    .track-item-container {
        width: 700px;
        float: left;
    }

    .thumb {
        float: left;

        img {
            width: 50px;
        }
    }

    .meta {
        float: left;
        width: auto;
        margin: 10px 0 0 15px;

        .artist {
            margin: 3px 0 0 0;
        }
    }

    .track-options {
        float: right;
        margin: 10px 0 0 0;
    }
}
/*
@media screen and (min-width: 1600px) {
	.item-group .item {
    	width: 8%;
	}
}

@media screen and (min-width: 2100px) {
	.item-group .item {
		width: 5%;
	}
}*/