.login-container, .register-container {
    margin: 10px 15px 10px 15px;
    padding: 15px 5px 15px 5px;
    border: 1px solid $grey-border;
    margin: 35px auto 0 auto;
    border-radius: .25em;
    width: 600px;
}

#errors {
    margin: 0 0 15px 0;
}

.social-login-container, .social-register-container {
    border-left: 1px solid tint($base-font-color, 60%);

    ul {
        li {
            margin: 0 0 10px 0;

            .ui.small.button {
                width: 175px;
            }
        }
    }
}