.app-region {
	.player-container {
		margin: 15px;
		/*width: 60%;
		max-width: 853px;
		max-height: 480px;*/
	}
	.player {
		/*position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto;

		iframe, object, embed {
			position: absolute; top: 0; left: 0; width: 100%; height: 100%;
		}*/
	}

	.track-content {
		padding: 10px 15px 10px 15px;
		margin: 15px 0 15px 15px;
		width: 960px;
		background: #EEE;
		border: 1px solid #d7d7d7;
		border-radius: 4px;
	}

	.track-options {
	}
}