
.tracks-group {

    .item {
        float: left;
        width: 10%;
        margin: 1% 1% 25px 1%;
        
        .thumb {
            position: relative;
            
            .uk-overlay-toggle {
                > a:first-of-type {
                    width: 100%;
                }
            }

            img {
                border: 5px solid $base-module-bg;
                width: 100%;
            }
            
            .OverlayNav {
                a {
                    color: #FFF;
                    text-decoration: none;
                    cursor: pointer;
                    margin: 0 5px 0 0;
                }
            }
        }

        .meta {
            float: left;
            margin: 5px 0 0 0;
            width: 100%;

            .title { margin: 0 0 3px 0; }
            .artist { color: $base-light-font-color; }
            .title, .artist {
                display: block;
                height: 15px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}

.tracks-group-row {
    margin: 15px 0 0 0;
}