.vote {
    display: inline-block;
    margin: 0 0 5px 0;

    a {
        cursor: pointer;
    }

    .like, .dislike {
        float: left;
    }

    .dislike {
        margin: 0 0 0 10px;
    }
}

.vote.liked, .stats {
    .thumbs-like {
        color: $base-link-hover;
    }
}

.vote.disliked, .stats {
    .thumbs-dislike {
        color: $base-red;
    }
}

.likes.uk-badge, .dislikes.uk-badge {
    background: #EEE;
    color: $base-font-color;
}