<div class="small-modal">
	<div class="heading">
		<div class="title">Create a Playlist</div>
		<div class="push-right">
			<a class="close uk-button uk-button-small">
				<i class="uk-icon-times"></i>
			</a>
		</div>
	</div>
	<div class="content">
        <form class="uk-form uk-form-stacked" onsubmit="return false;">
            <div class="uk-form-row">
                <label class="uk-form-label" for="name">Name</label>
                <input id="name" type="text" placeholder="Enter a name">
            </div>

            <div class="uk-form-row">
                <label>
                    <input id="private" type="checkbox"> Private</input>
                </label>
            </div>

            <div class="uk-form-row">
                <button class="create uk-button uk-button-primary btn-block">Create</button>
            </div>

        </form>
	</div>
</div>