<div class="logo">
    <div class="brand">
        <img src="assets/img/logo_main.png"/>
    </div>
    <div class="name">
        <a href="#/">gosu.io</a>
    </div>
</div>
<div class="header-menu">
    <div class="header-search">
        <form class="uk-form" data-uk-search>
            <input type="text" class="uk-form-width-large" placeholder="Search artists, tracks, or playlists">
            <button class="uk-button" type="button">Search</button>
        </form>
    </div>

    <div class="header-navigation">
        <% if (loggedin) { %>
            <div class="uk-button-group">
                <button class="uk-button"><%= username %></button>
                <button class="Settings uk-button" title="Settings"><i class="uk-icon-cog"></i></button>
                <button class="SignOut uk-button" title="Sign out"><i class="uk-icon-sign-out"></i></button>
            </div>
        <% } else { %>
            <div class="uk-button-group">
                <a class="uk-button" href="#/signin">Sign In</a>
                <a class="uk-button" href="#/register">Register</a>
            </div>
        <% } %>
    </div>
</div>