
                <div class="logo">
                    <a href="#"><img src="assets/img/logo.png" /></a>
                </div>

                <div class="header-menu">
                    <div class="header-search">
                        <div class="text-input">
                            <input type="text"placeholder="Search"></input>
                        </div>
                        <button class="search-btn tiny secondary">
                            <a href="#"><i class="icon-search"></i></a>
                        </button>
                    </div>

                    <div class="header-navigation">
                        <% if (loggedin) { %>
                            <div class="ui icon buttons">
                                <div class="small blue ui button">Lithica</div>
                                <div id="user-settings-dropdown" class="small ui top right pointing dropdown icon button">
                                    <i class="settings icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="settings">Settings</div>
                                        <div class="item" data-value="log-out">Log out</div>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <ul class="user-nav">
                                <li><a href="#/signin">Sign In</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
                        <% } %>
                    </div>
                </div>