<div class="content">
    <div class="small-centered-container">
        <div class="heading">
            Sign In
        </div>
        <div class="content">
            <div class="centered-container small-logo">
                <img src="assets/img/logo_main.png"/>
            </div>

            <div id="errors">
            </div>

            <form class="uk-form uk-form-stacked" onsubmit="return false;">
                <div class="uk-form-row">
                    <input id="username" type="text" placeholder="Username">
                </div>

                <div class="uk-form-row">
                    <input id="password" type="password" placeholder="Password">
                </div>

                <div class="uk-form-row">
                    <button id="login-btn" class="uk-button uk-button-primary btn-block">Sign In</button>
                </div>

            </form>

            <hr>
            <div class="text-center">
                <a href="#">Forget your password?</a>
            </div>
        </div>
    </div>
</div>