
<div class="grey login-container">
    <div class="row">
        <div id="errors" class="large-12 columns">
        </div>
    </div>
    <div class="content row">
        <div class="large-6 columns">
            <h4>Sign In</h4>

            <div class="row">
                <div class="large-12 columns">
                    <label>Username</label>
                    <input id="username" type="text">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>Password</label>
                    <input id="password" type="password">
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <div id="login-btn" class="small button">Sign In</div>
                </div>
            </div>
        </div>

        <div class="large-1 columns">
        </div>

        <div class="social-login-container large-5 columns">
            <h4>Or Sign in using...</h4>
            <ul>
                <li>
                    <div class="small button">
                        <i class="facebook sign icon"></i>
                        Facebook
                    </div>
                </li>
                <li>
                    <div class="small button">
                        <i class="google plus sign icon"></i>
                        Google
                    </div>
                </li>
                <li>
                    <div class="small button">
                        <i class="google plus sign icon"></i>
                        Persona
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>