                <div class="featured">
                    <ul class="large-block-grid-2">
                        <li><img src="assets/img/featured_1.png" /></li>
                        <li><img src="assets/img/featured_2.png" /></li>
                    </ul>
                </div>
                <div class="content row">
                    <div class="tracks-group-col large-8 columns">
                        <h3>Popular</h3>

                        <div id="popular-group">

                        </div>

                        <h3>New Releases</h3>
                        <div id="new-releases-group">

                        </div>
                    </div>

                    <div class="side-modules large-4 columns">
                        <div id="sotw">
                            <img src="assets/img/song_of_the_week.png" />
                        </div>

                        <h4>Radio</h4>
                        <div id="radio-side-module" class="side-module">
                            <div class="module-item">
                                <div class="radio-thumb">
                                    <img src="assets/img/radio_thumb.png"/>
                                </div>
                                <div class="radio-meta">
                                    <span class="radio-title">Wedding Dress</span>
                                    <span class="radio-artist">Taeyang</span>
                                </div>
                            </div>
                        </div>

                        <h4>Coming Soon</h4>
                        <div id="coming-soon-side-module" class="side-module">
                            <ul class="module-list">
                                <li class="module-item">
                                    <div class="meta">
                                        <span class="track-title">Modern Times</span>
                                        <span class="track-artist">IU</span>
                                    </div>
                                    <div class="track-date">
                                        Oct. 7, 2013
                                    </div>
                                </li>
                                <li class="module-item">
                                    <div class="meta">
                                        <span class="track-title">Modern Times</span>
                                        <span class="track-artist">IU</span>
                                    </div>
                                    <div class="track-date">
                                        Oct. 7, 2013
                                    </div>
                                </li>
                                <li class="module-item">
                                    <div class="meta">
                                        <span class="track-title">Modern Times</span>
                                        <span class="track-artist">IU</span>
                                    </div>
                                    <div class="track-date">
                                        Oct. 7, 2013
                                    </div>
                                </li>
                                <li class="module-item">
                                    <div class="meta">
                                        <span class="track-title">Modern Times</span>
                                        <span class="track-artist">IU</span>
                                    </div>
                                    <div class="track-date">
                                        Oct. 7, 2013
                                    </div>
                                </li>
                                <li class="module-item">
                                    <div class="meta">
                                        <span class="track-title">Modern Times</span>
                                        <span class="track-artist">IU</span>
                                    </div>
                                    <div class="track-date">
                                        Oct. 7, 2013
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="push"></div>
            </div>