                <div class="featured">
                    <ul>
                        <li><img src="assets/img/featured_1.png" /></li>
                        <li><img src="assets/img/featured_2.png" /></li>
                    </ul>
                </div>
                <div class="content">
                    <div class="modules">
                        <div class="module">
                            <h3>Popular</h3>
                            <div id="popular-group">

                            </div>
                        </div>
                        <div class="module">
                            <h3>New Releases</h3>
                            <div id="new-releases-group">

                            </div>
                        </div>
                    </div>

                    <div class="side-modules">

                    </div>

                </div>
                <div class="push"></div>
            </div>