<div id="ytPlayer">
</div>
<div class="controls-container">
    <div class="controls">
        <div class="left-controls">
            <div class="play">Play</div>
            <div class="pause">Pause</div>
        </div>
        
        <span class="time">0:00</span>
        <div class="uk-progress uk-progress-small">
            <div class="Progress uk-progress-bar"></div>
            <div class="handle" draggable="true"></div>
        </div>
        <span class="duration">0:00</span>
        <div>
        Volume:
        <input id="volume" type="range" max="100" value="50" step="1">
            </div>
    </div>
    
    <div class="queue uk-panel-box">
        <ul class="queueItems">
        </ul>
    </div>
</div>