<div class="Index"><%= collectionIndex %></div>

<div class="small-thumb">
    <figure class="uk-overlay-toggle">
        <div class="uk-overlay">
            <img src="assets/img/girlsday_thumb.png" />
            <div class="uk-overlay-area">
                <div class="OverlayNav uk-overlay-area-content">
            		<a class="Remove uk-icon-times uk-icon-xsmall"></a>
                    <a class="Play uk-icon-play uk-icon-small"></a>
                    <a class="AddTo uk-icon-plus uk-icon-xsmall"></a>
                </div>
            </div>
        </div>
    </figure>
</div>

<div class="meta">
    <div class="title">
    	<a href="#/track/<%= trackId %>/<%= title %>" title="<%= artistName %> - <%= title %>"><%= title %></a>
    </div>
    <div class="artist"><%= artistName %></div>
</div>