<div id="ytPlayer">
</div>
<div class="controls-container">
    <div class="controls">
        <div class="left-controls">
            <div class="uk-button-group">
                <button class="StepBackward uk-button"><i class="uk-icon-step-backward"></i></button>
                <button class="PausePlay uk-button"><i class="uk-icon-play"></i></button>
                <button class="StepForward uk-button"><i class="uk-icon-step-forward"></i></button>
            </div>
            <span class="Volume-indicator"></span>
            <!--<input id="volume" type="range" max="100" value="50" step="1">-->
            <div class="Volume"></div>
        </div>
        
        <div class="right-controls">
        </div>

        <div class="timing">
            <span class="time">0:00</span> /
            <span class="duration">0:00</span>
        </div>
        
        <div class="Progress-container uk-progress uk-progress-small">
            <div class="Progress uk-progress-bar"></div>
            <div class="handle" draggable="true"></div>
        </div>
    </div>
    
    <div class="queue uk-panel-box">
        <div class="queueItems">
        </div>
    </div>
</div>