
                            <div class="module-item">
                                <div class="radio-thumb">
                                    <img src="assets/img/radio_thumb.png"/>
                                </div>
                                <div class="radio-meta">
                                    <span class="radio-title">Wedding Dress</span>
                                    <span class="radio-artist">Taeyang</span>
                                </div>
                            </div>