
<div class="grey register-container">
    <div class="row">
        <div id="errors" class="large-12 columns">
        </div>
    </div>
    <div class="content row">
        <div class="large-6 columns">
            <h4>Register</h4>
            <div id="register-form" class="ui large form">
                <div class="field">
                    <label>Username</label>
                    <input id="username" type="text">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="password" type="password">
                </div>

                <div class="field">
                    <label>Confirm Password</label>
                    <input id="confirm-password" type="password">
                </div>
                <div id="register-btn" class="small ui blue button">Register</div>
            </div>
        </div>

        <div class="large-1 columns">
        </div>

        <div class="social-register-container large-5 columns">
            <h4>Or register using...</h4>
            <ul>
                <li>
                    <div class="small blue ui labeled icon button">
                        <i class="facebook sign icon"></i>
                        Facebook
                    </div>
                </li>
                <li>
                    <div class="small ui labeled icon button">
                        <i class="google plus sign icon"></i>
                        Google
                    </div>
                </li>
                <li>
                    <div class="small ui labeled icon button">
                        <i class="google plus sign icon"></i>
                        Persona
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>