<div class="content">
    <div class="small-centered-container">
        <div class="heading">
            Register
        </div>
        <div class="content">
            <div class="centered-container small-logo">
                <img src="assets/img/logo_main.png"/>
            </div>

            <div id="errors">
            </div>

            <form class="uk-form uk-form-stacked" onsubmit="return false;">
                <div class="uk-form-row">
                    <input id="username" type="text" placeholder="Username">
                </div>

                <div class="uk-form-row">
                    <input id="email" type="email" placeholder="Email (Optional)">
                </div>

                <div class="uk-form-row">
                    <input id="password" type="password" placeholder="Password">
                </div>

                <div class="uk-form-row">
                    <input id="confirm-password" type="password" placeholder="Confirm password">
                </div>

                <div class="uk-form-row">
                    <button id="register-btn" class="uk-button uk-button-primary btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
