
                <div class="heading">
                    <h3>Navigation</h3>
                </div>
                <ul class="navigation">
                    <li class="selected"><a href="#">Explore</a></li>
                    <li><a href="#/tracks">Tracks</a></li>
                    <li><a href="#/artists">Artists</a></li>
                    <li><a href="#/playlists">Playlists</a></li>
                </ul>

                <div class="heading">
                    <h3>Library</h3>
                </div>
                <ul class="navigation">
                    <li><a href="#">Favorites</a></li>
                    <li><a href="#">Playlists</a></li>
                    <ul class="playlists">
                        <li><a href="#">Girls' Generation</a></li>
                        <li><a href="#">Big Bang</a></li>
                        <li><a href="#">IU</a></li>
                    </ul>
                </ul>