
<div class="heading">
    <h3>Navigation</h3>
</div>
<ul class="navigation">
    <li id="explore-nav-item"><a href="#">Explore</a></li>
    <li id="tracks-nav-item"><a href="#/tracks">Tracks</a></li>
    <li id="artists-nav-item"><a href="#/artists">Artists</a></li>
    <li id="playlists-nav-item"><a href="#/playlists">Playlists</a></li>
</ul>

<% if (client.loggedin) { %>
    <div class="heading">
        <h3>Library</h3>
    </div>
    <ul class="navigation">
        <li><a href="#">Favorites</a></li>
        <li class="options">
            <a class="text push-left" href="#">Playlists</a>
            <div class="option push-right">
                <button class="add uk-button uk-button-mini">+</button>
            </div>
        </li>
        <ul class="playlists">
        </ul>
    </ul>
<% } %>