<div class="player-container">
	<div class="player">
	    <iframe width="960" height="540" src="//www.youtube.com/embed/<%= trackData.videoId %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="normal-container large-container">
	<div class="heading">
		<div class="title">
			<%= trackData.artistName %> - <%= trackData.title %>
		</div>

		<div class="push-right">
			<a class="uk-button uk-button-small"><i class="uk-icon-plus"></i></a>
		</div>
	</div>

	<div class="content">
		<div class="push-right">
			<div class="vote">
				<div class="like">
					<a class="uk-button" title="Like"><i class="thumbs-like uk-icon-thumbs-up"></i> Like</a>
				</div>
				<div class="dislike">
					<a class="uk-button" title="Dislike"><i class="thumbs-dislike uk-icon-thumbs-down"></i> Dislike</a>
				</div>
			</div>

			<div class="stats">
				<div class="likes uk-badge">
					<i class="thumbs-like uk-icon-thumbs-up"></i> <%= trackData.stats.likes %>
				</div>
				<div class="dislikes uk-badge">
					<i class="thumbs-dislike uk-icon-thumbs-down"></i> <%= trackData.stats.dislikes %>
				</div>
			</div>
		</div>
	</div>
</div>