<div class="player-container">
	<div class="player">
	    <iframe width="960" height="540" src="//www.youtube.com/embed/<%= trackData.videoId %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="normal-container large-container">
	<div class="heading">
		<div class="title">
			<%= trackData.artistName %> - <%= trackData.title %>
		</div>

		<div class="push-right">
			<a class="uk-button uk-button-small"><i class="uk-icon-plus"></i></a>
		</div>
	</div>

	<div class="content">
		<ul class="track-options">
		    <li><a href="#">Upvote</a></li>
		    <li><a href="#">Downvote</a></li>
		    <li><a href="#">Add to</a></li>
		    <li><a href="#">Share</a></li>
		</ul>
	</div>
</div>