
<div class="track-item-container">
	<div class="thumb">
		<img src="assets/img/girlsday_thumb.png" />
	</div>
	<div class="meta">
		<div class="title"><a href="#/track/<%= trackId %>/<%= title %>"><%= title %></a></div>
		<div class="artist"><%= artistName %></div>
	</div>
</div>

<div class="track-options">
    <div class="uk-button-group">
        <button class="Play uk-button" title="Play"><i class="uk-icon-play"></i></button>
        <button class="AddTo uk-button" title="Add to..."><i class="uk-icon-plus"></i></button>
    </div>
</div>