                <h5>Tracks</h5>

                <div class="options row">
                    <form class="custom">
                        <div class="large-2 columns">
                            <select id="sort" class="medium hidden-field">
                                <option value="uploaded">Date</option>
                                <option value="popular">Popularity</option>
                                <option value="artistName">Arist</option>
                                <option value="title">Title</option>
                            </select>
                            <div id="sort-dropdown" class="custom dropdown medium">
                                <a class="current" href="#">Date</a>
                                <a class="selector" href="#"></a>
                                <ul class="sort-selectors">
                                    <li class="">Date</li>
                                    <li class="">Popularity</li>
                                    <li>Artist</li>
                                    <li>Title</li>
                                </ul>
                            </div>
                        </div>

                        <div class="large-2 columns">
                            <select id="order" class="medium hidden-field">
                                <option>Descending</option>
                                <option>Ascending</option>
                            </select>
                            <div id="order-dropdown" class="custom dropdown medium">
                                <a class="current" href="#">Descending</a>
                                <a class="selector" href="#"></a>
                                <ul class="order-selectors">
                                    <li class="">Descending</li>
                                    <li class="">Ascending</li>
                                </ul>
                            </div>
                        </div>

                        <div class="filter large-3 columns">
                            <div class="row collapse">
                                <div class="small-10 columns">
                                    <input type="text" placeholder="Filter"></input>
                                </div>
                                <div class="small-2 columns">
                                    <a class="button prefix secondary" href="#"><i class="icon-search"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="large-2 large-offset-3 columns">
                            <ul class="view-types button-group">
                                <li><a title="List view" class="tiny button secondary"><i class="icon-list"></i></a></li>
                                <li><a title="Thumbnail view" class="tiny selected button secondary"><i class="icon-th"></i></a></li>
                            </ul>
                        </div>
                    </form>

                </div>

                <div class="content row">
                    <div class="tracks-group-col large-12 columns">
                    </div>
                </div>

                <div class="content-footer row">
                    <div class="large-4 large-centered columns">
                        <ul class="pagination">
                            {{#ifCond page '>' 2}}
                                <li class="arrow unavailable"><a>&laquo;</a></li>
                                <li><a href="#/tracks/{{math page '-' 2}}">{{math page '-' 2}}</a></li>
                                <li><a href="#/tracks/{{math page '-' 1}}">{{math page '-' 1}}</a></li>
                                <li class="current"><a>{{page}}</a></li>
                                <li><a href="#/tracks/{{math page '+' 1}}">{{math page '+' 1}}</a></li>
                                <li class="unavailable"><a href="">&hellip;</a></li>
                                <li><a href="#/tracks/{{math pageCount '-' 1}}">{{math pageCount '-' 1}}</a></li>
                                <li><a href="#/tracks/{{pageCount}}">{{pageCount}}</a></li>
                                <li class="arrow"><a href="">&raquo;</a></li>
                            {{else}}
                                <li class="arrow unavailable"><a>&laquo;</a></li>
                                <li class="current"><a href="#/tracks/1">1</a></li>
                                <li><a href="#/tracks/2">2</a></li>
                                <li><a href="#/tracks/3">3</a></li>
                                <li><a href="#/tracks/4">4</a></li>
                                <li class="unavailable"><a href="">&hellip;</a></li>
                                <li><a href="#/tracks/{{math pageCount '-' 1}}">{{math pageCount '-' 1}}</a></li>
                                <li><a href="#/tracks/{{pageCount}}">{{pageCount}}</a></li>
                                <li class="arrow"><a href="">&raquo;</a></li>
                            {{/ifCond}}
                        </ul>
                    </div>
                </div>

                <div class="push"></div>