/* line 17, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/partials/_colors.scss */
.grey {
  background: #f6f6f6;
}

/* line 1, ../sass/layout/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/layout/_base.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/layout/_base.scss */
body {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 0.875em;
  color: #515151;
  cursor: auto;
}

/* line 16, ../sass/layout/_base.scss */
a {
  color: #515151;
}
/* line 19, ../sass/layout/_base.scss */
a:hover {
  color: #00b4ff;
}

/* line 24, ../sass/layout/_base.scss */
.AddToMenu {
  position: absolute;
  background: #FFF;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
}
/* line 32, ../sass/layout/_base.scss */
.AddToMenu a {
  cursor: pointer;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  background: #eeeeee;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1010;
  border: 1px solid #d7d7d7;
  clear: both;
  width: 100%;
}

/* line 12, ../sass/layout/_header.scss */
.logo {
  width: 198px;
  background: #515151;
  float: left;
  height: 69px;
  margin: 0 25px 0 0;
}
/* line 19, ../sass/layout/_header.scss */
.logo img {
  margin: 20px 15px 20px 15px;
}

/* line 24, ../sass/layout/_header.scss */
.header-menu {
  padding: 17px 0 0 20px;
}

/* line 28, ../sass/layout/_header.scss */
.header-search {
  float: left;
}
/* line 32, ../sass/layout/_header.scss */
.header-search .text-input input {
  width: 250px;
  height: 35px;
  font-size: 0.875em;
}
/* line 39, ../sass/layout/_header.scss */
.header-search .search-btn {
  height: 35px;
  border-left: none;
  width: 40px;
}
/* line 45, ../sass/layout/_header.scss */
.header-search .text-input, .header-search .search-btn {
  float: left;
}

/* line 50, ../sass/layout/_header.scss */
.header-navigation {
  float: right;
  margin: 5px 15px 0 0;
}
/* line 55, ../sass/layout/_header.scss */
.header-navigation .user a {
  margin: 3px 0 0 8px;
}
/* line 59, ../sass/layout/_header.scss */
.header-navigation .user img {
  border: 1px solid #a7a1a1;
}
/* line 63, ../sass/layout/_header.scss */
.header-navigation .user a, .header-navigation .user img {
  float: left;
}
/* line 68, ../sass/layout/_header.scss */
.header-navigation .user {
  float: left;
}
/* line 72, ../sass/layout/_header.scss */
.header-navigation .user-nav {
  margin: 3px 0 0 0;
}
/* line 75, ../sass/layout/_header.scss */
.header-navigation .user-nav li {
  float: left;
  margin: 0 0 0 10px;
}

/* line 1, ../sass/layout/_sidebar.scss */
.sidebar {
  position: fixed;
  width: 200px;
  top: 70px;
  z-index: 1000;
  height: 100%;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
}
/* line 10, ../sass/layout/_sidebar.scss */
.sidebar .heading {
  background: #eeeeee;
  height: 50px;
  padding: 15px;
}
/* line 15, ../sass/layout/_sidebar.scss */
.sidebar .heading h3 {
  font-size: 1.125em;
  color: #515151;
}
/* line 22, ../sass/layout/_sidebar.scss */
.sidebar .navigation li {
  height: 40px;
  padding: 12px 15px 12px 15px;
  border-bottom: 1px solid #eeeeee;
}
/* line 27, ../sass/layout/_sidebar.scss */
.sidebar .navigation li.selected {
  background: url("../img/selected_navigation_item.png") repeat-y scroll left center transparent;
}
/* line 31, ../sass/layout/_sidebar.scss */
.sidebar .navigation li a {
  color: #515151;
}
/* line 34, ../sass/layout/_sidebar.scss */
.sidebar .navigation li a:hover {
  color: #00b4ff;
}
/* line 41, ../sass/layout/_sidebar.scss */
.sidebar .navigation .playlists li {
  height: 30px;
  margin: 0 0 0 30px;
  padding: 9px 0 9px 15px;
  font-size: 0.75em;
  background: url("../img/selected_navigation_item.png") repeat-y scroll left center transparent;
}

/* line 2, ../sass/layout/_mainContent.scss */
.row {
  margin: 0;
}

/* line 6, ../sass/layout/_mainContent.scss */
.content-container {
  margin-left: 200px;
  padding-top: 70px;
  padding-bottom: 200px;
  overflow: hidden;
  clear: both;
  /* H4's used for side modules */
}
/* line 13, ../sass/layout/_mainContent.scss */
.content-container h3, .content-container h4, .content-container h5 {
  color: #515151;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}
/* line 20, ../sass/layout/_mainContent.scss */
.content-container h4 {
  margin: 10px 0 10px 0;
}
/* line 24, ../sass/layout/_mainContent.scss */
.content-container h5 {
  margin: 10px 0 10px 15px;
}

/* Transition effect for changing pages */
/*
.app-region {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: contentSlideIn;
    -moz-animation-name: contentSlideIn;
    -o-animation-name: contentSlideIn;
    animation-name: contentSlideIn;
}

@-webkit-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@-moz-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@-o-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
*/
/* line 47, ../sass/layout/_mainContent.scss */
.featured {
  clear: both;
  overflow: hidden;
}
/* line 51, ../sass/layout/_mainContent.scss */
.featured img {
  float: left;
}

/* line 56, ../sass/layout/_mainContent.scss */
.content {
  padding: 0 0 15px 15px;
}
/* line 59, ../sass/layout/_mainContent.scss */
.content .modules {
  float: left;
}
/* line 62, ../sass/layout/_mainContent.scss */
.content .modules .module {
  clear: both;
  overflow: hidden;
}

/* line 69, ../sass/layout/_mainContent.scss */
.content-footer {
  margin: 15px 0 15px 0;
}
/* line 73, ../sass/layout/_mainContent.scss */
.content-footer .pagination li {
  font-size: 14px;
}
/* line 76, ../sass/layout/_mainContent.scss */
.content-footer .pagination .current a {
  background: #00b4ff;
}

/* line 1, ../sass/layout/_side_modules.scss */
.side-modules {
  margin: 15px 0 0 0;
  float: left;
}

/* line 3, ../sass/layout/_footer.scss */
.footer {
  border-top: 1px solid #d7d7d7;
  position: fixed;
  z-index: 1010;
  bottom: 0;
  height: 200px;
  background: #eeeeee;
  width: 100%;
    /*position: relative;
    background: $base-module-bg;
    z-index: 9999;
    height: 70px;
    width: 100%;
    clear: both;
    margin: 0 auto 0 auto;
    border-right: 1px solid #d7d7d7;
    padding: 20px 15px 15px 15px;

    .footer-logo {
        float: left;
        font-size: $heading-content-size;
        font-family: $heading-font-family;
        color: $base-font-color;
    }

    .social-links {
        float: right;
        margin: 7px 0 0 0;
        li {
            float: left;
            margin: 0 0 0 5px;
        }
    }*/
}

/* line 39, ../sass/layout/_footer.scss */
.player-container .controls-container {
  margin: 0 15px 0 343px;
}
/* line 43, ../sass/layout/_footer.scss */
.player-container #ytPlayer {
  position: absolute;
  width: 328px;
}
/* line 48, ../sass/layout/_footer.scss */
.player-container .controls {
  padding: 10px 0 10px 0;
}
/* line 51, ../sass/layout/_footer.scss */
.player-container .controls .left-controls {
  margin: 0 0 10px 0;
}
/* line 58, ../sass/layout/_footer.scss */
.player-container .controls .timing {
  float: right;
  padding: 0 0 0 10px;
}
/* line 63, ../sass/layout/_footer.scss */
.player-container .controls .Progress-container {
  margin: 1px 0 0 0;
}
/* line 67, ../sass/layout/_footer.scss */
.player-container .controls .Progress {
  transition: all;
  -webkit-transition: all;
}
/* line 72, ../sass/layout/_footer.scss */
.player-container .controls .uk-progress .handle {
  position: relative;
  background: url("../img/test_handle.png") no-repeat;
  height: 19px;
}
/* line 78, ../sass/layout/_footer.scss */
.player-container .controls .Volume-indicator {
  margin: 5px 0 0 25px;
}
/* line 82, ../sass/layout/_footer.scss */
.player-container .controls .Volume {
  position: absolute;
  left: 500px;
  bottom: 170px;
  width: 100px;
}
/* line 90, ../sass/layout/_footer.scss */
.player-container .queue {
  background: #FFF;
  overflow: hidden;
  clear: both;
}
/* line 96, ../sass/layout/_footer.scss */
.player-container .queue.uk-panel-box {
  padding: 8px;
}
/* line 100, ../sass/layout/_footer.scss */
.player-container .queueItems {
  /*padding: 10px 15px 10px 15px;
  list-style-type: none;
  background: #FFF;
  overflow: hidden;
  clear: both;*/
}
/* line 108, ../sass/layout/_footer.scss */
.player-container .queueItem {
  cursor: pointer;
  float: left;
  font-size: .875em;
  margin: 0 10px 0 0;
}
/* line 114, ../sass/layout/_footer.scss */
.player-container .queueItem .small-thumb img {
  width: 75px;
  height: 75px;
}
/* line 121, ../sass/layout/_footer.scss */
.player-container .queueItem .meta .title, .player-container .queueItem .meta .artist {
  width: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 1, ../sass/modules/loading_icon.scss */
.loading-icon {
  margin: 100px auto 0 auto;
}

/* line 5, ../sass/modules/loading_icon.scss */
#circularG {
  margin: 0 auto 0 auto;
  position: relative;
  width: 45px;
  height: 45px;
}

/* line 11, ../sass/modules/loading_icon.scss */
.circularG {
  position: absolute;
  background-color: #515151;
  width: 10px;
  height: 10px;
  -moz-border-radius: 7px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 0.56s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 7px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 0.56s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 7px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 0.56s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 7px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 0.56s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 7px;
  animation-name: bounce_circularG;
  animation-duration: 0.56s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

/* line 43, ../sass/modules/loading_icon.scss */
#circularG_1 {
  left: 0;
  top: 18px;
  -moz-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  -ms-animation-delay: 0.21s;
  -o-animation-delay: 0.21s;
  animation-delay: 0.21s;
}

/* line 53, ../sass/modules/loading_icon.scss */
#circularG_2 {
  left: 5px;
  top: 5px;
  -moz-animation-delay: 0.28s;
  -webkit-animation-delay: 0.28s;
  -ms-animation-delay: 0.28s;
  -o-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

/* line 63, ../sass/modules/loading_icon.scss */
#circularG_3 {
  top: 0;
  left: 18px;
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

/* line 73, ../sass/modules/loading_icon.scss */
#circularG_4 {
  right: 5px;
  top: 5px;
  -moz-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  -ms-animation-delay: 0.42s;
  -o-animation-delay: 0.42s;
  animation-delay: 0.42s;
}

/* line 83, ../sass/modules/loading_icon.scss */
#circularG_5 {
  right: 0;
  top: 18px;
  -moz-animation-delay: 0.49s;
  -webkit-animation-delay: 0.49s;
  -ms-animation-delay: 0.49s;
  -o-animation-delay: 0.49s;
  animation-delay: 0.49s;
}

/* line 93, ../sass/modules/loading_icon.scss */
#circularG_6 {
  right: 5px;
  bottom: 5px;
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  -ms-animation-delay: 0.56s;
  -o-animation-delay: 0.56s;
  animation-delay: 0.56s;
}

/* line 103, ../sass/modules/loading_icon.scss */
#circularG_7 {
  left: 18px;
  bottom: 0;
  -moz-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  -ms-animation-delay: 0.63s;
  -o-animation-delay: 0.63s;
  animation-delay: 0.63s;
}

/* line 113, ../sass/modules/loading_icon.scss */
#circularG_8 {
  left: 5px;
  bottom: 5px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-moz-keyframes bounce_circularG {
  /* line 124, ../sass/modules/loading_icon.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 126, ../sass/modules/loading_icon.scss */
  100% {
    -moz-transform: scale(0.3);
  }
}

@-webkit-keyframes bounce_circularG {
  /* line 130, ../sass/modules/loading_icon.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 132, ../sass/modules/loading_icon.scss */
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-ms-keyframes bounce_circularG {
  /* line 136, ../sass/modules/loading_icon.scss */
  0% {
    -ms-transform: scale(1);
  }

  /* line 138, ../sass/modules/loading_icon.scss */
  100% {
    -ms-transform: scale(0.3);
  }
}

@-o-keyframes bounce_circularG {
  /* line 142, ../sass/modules/loading_icon.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 144, ../sass/modules/loading_icon.scss */
  100% {
    -o-transform: scale(0.3);
  }
}

@keyframes bounce_circularG {
  /* line 148, ../sass/modules/loading_icon.scss */
  0% {
    transform: scale(1);
  }

  /* line 150, ../sass/modules/loading_icon.scss */
  100% {
    transform: scale(0.3);
  }
}

/* line 4, ../sass/modules/_tracks_group.scss */
.tracks-group .item {
  float: left;
  margin: 0 20px 25px 0;
  width: 135px;
}
/* line 9, ../sass/modules/_tracks_group.scss */
.tracks-group .item .thumb {
  position: relative;
}
/* line 12, ../sass/modules/_tracks_group.scss */
.tracks-group .item .thumb img {
  border: 5px solid #eeeeee;
}
/* line 17, ../sass/modules/_tracks_group.scss */
.tracks-group .item .thumb .OverlayNav a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px 0 0;
}
/* line 26, ../sass/modules/_tracks_group.scss */
.tracks-group .item .meta {
  float: left;
  margin: 5px 0 0 0;
}
/* line 30, ../sass/modules/_tracks_group.scss */
.tracks-group .item .meta .title {
  margin: 0 0 3px 0;
}
/* line 31, ../sass/modules/_tracks_group.scss */
.tracks-group .item .meta .artist {
  color: #878787;
}
/* line 32, ../sass/modules/_tracks_group.scss */
.tracks-group .item .meta .title, .tracks-group .item .meta .artist {
  display: block;
  width: 130px;
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 44, ../sass/modules/_tracks_group.scss */
.tracks-group-row {
  margin: 15px 0 0 0;
}

/* line 1, ../sass/modules/_login_page.scss */
.login-container, .register-container {
  margin: 10px 15px 10px 15px;
  padding: 15px 5px 15px 5px;
  border: 1px solid #d7d7d7;
  margin: 35px auto 0 auto;
  border-radius: .25em;
  width: 600px;
}

/* line 10, ../sass/modules/_login_page.scss */
#errors {
  margin: 0 0 15px 0;
}

/* line 14, ../sass/modules/_login_page.scss */
.social-login-container, .social-register-container {
  border-left: 1px solid #b9b9b9;
}
/* line 18, ../sass/modules/_login_page.scss */
.social-login-container ul li, .social-register-container ul li {
  margin: 0 0 10px 0;
}
/* line 21, ../sass/modules/_login_page.scss */
.social-login-container ul li .ui.small.button, .social-register-container ul li .ui.small.button {
  width: 175px;
}

/* line 1, ../sass/modules/_main_page.scss */
.tracks-group-col {
  float: left;
}
/* line 4, ../sass/modules/_main_page.scss */
.tracks-group-col #popular-group, .tracks-group-col #new-releases-group {
  clear: both;
  overflow: hidden;
}

/* line 1, ../sass/modules/content_side_modules/_content_side_module.scss */
.side-module {
  background: #f6f6f6;
  padding: 10px;
}
/* line 5, ../sass/modules/content_side_modules/_content_side_module.scss */
.side-module .module-item {
  background: #FFF;
  margin: 0 0 10px 0;
  padding: 10px;
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #d1d1d1;
}
/* line 13, ../sass/modules/content_side_modules/_content_side_module.scss */
.side-module .module-item:last-child {
  margin: 0;
}

/* line 2, ../sass/modules/content_side_modules/_radio.scss */
#radio-side-module .radio-thumb {
  float: left;
}
/* line 6, ../sass/modules/content_side_modules/_radio.scss */
#radio-side-module .radio-meta {
  float: left;
  margin: 10px 0 0 12px;
}
/* line 11, ../sass/modules/content_side_modules/_radio.scss */
#radio-side-module .radio-meta .radio-title {
  margin: 0 0 3px 0;
}
/* line 12, ../sass/modules/content_side_modules/_radio.scss */
#radio-side-module .radio-meta .radio-title, #radio-side-module .radio-meta .radio-artist {
  display: block;
}

/* line 3, ../sass/modules/content_side_modules/_coming_soon.scss */
#coming-soon-side-module .meta {
  float: left;
}
/* line 6, ../sass/modules/content_side_modules/_coming_soon.scss */
#coming-soon-side-module .meta .track-title {
  margin: 0 0 3px 0;
}
/* line 7, ../sass/modules/content_side_modules/_coming_soon.scss */
#coming-soon-side-module .meta .track-title, #coming-soon-side-module .meta .track-artist {
  display: block;
}
/* line 12, ../sass/modules/content_side_modules/_coming_soon.scss */
#coming-soon-side-module .track-date {
  float: right;
  margin: 8px 0 0 0;
}

/* line 2, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options {
  margin: 0 0 15px 0;
}
/* line 5, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types {
  float: right;
  padding-right: 13px;
}
/* line 9, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types a {
  font-size: 14px;
}
/* line 12, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types .selected.button {
  background-color: #00b4ff;
  border: 1px solid #0079ab;
  color: #FFFFFF;
}
/* line 19, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .filter-input-container {
  float: left;
}
/* line 23, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .filter-remove {
  float: left;
  margin: 0 0 0 3px;
}

/* line 31, ../sass/modules/content_main_modules/_options_bar.scss */
#sort-dropdown, #order-dropdown {
  font-size: 14px;
}
/* line 34, ../sass/modules/content_main_modules/_options_bar.scss */
#sort-dropdown ul, #order-dropdown ul {
  min-width: 100%;
}
