/*
	TODO: Completely refactor markup and scss files
*/
/* line 17, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/layout/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/layout/_base.scss */
html, body {
  height: 100%;
}

/* line 9, ../sass/layout/_base.scss */
body {
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 0.875em;
  color: #515151;
  cursor: auto;
}

/* line 16, ../sass/layout/_base.scss */
a {
  color: #515151;
}
/* line 19, ../sass/layout/_base.scss */
a:hover {
  color: #3399ff;
}

/* line 24, ../sass/layout/_base.scss */
.AddToMenu {
  position: absolute;
  background: #FFF;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1100;
}
/* line 33, ../sass/layout/_base.scss */
.AddToMenu a {
  cursor: pointer;
}

/* line 38, ../sass/layout/_base.scss */
.btn-block {
  width: 100%;
  text-align: center;
}

/* line 43, ../sass/layout/_base.scss */
.text-center {
  text-align: center;
}

/* line 47, ../sass/layout/_base.scss */
.push-left, .normal-container > .heading .title, .small-centered-container > .heading .title, .modal-container .modal > .heading .title, .modal-container .small-modal > .heading .title {
  float: left;
}

/* line 51, ../sass/layout/_base.scss */
.push-right {
  float: right;
}

/* line 55, ../sass/layout/_base.scss */
.row {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  background: #eeeeee;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1010;
  border: 1px solid #d7d7d7;
  clear: both;
  width: 100%;
}

/* line 12, ../sass/layout/_header.scss */
.small-logo {
  width: 80px;
}

/* line 16, ../sass/layout/_header.scss */
.logo {
  width: 198px;
  float: left;
  height: 69px;
  padding: 2px 0 0 10px;
}
/* line 22, ../sass/layout/_header.scss */
.logo .brand {
  float: left;
  width: 65px;
}
/* line 27, ../sass/layout/_header.scss */
.logo .name {
  float: left;
  margin: 13px 0 0 3px;
  font-size: 2em;
}
/* line 31, ../sass/layout/_header.scss */
.logo .name a:hover {
  text-decoration: none;
}

/* line 37, ../sass/layout/_header.scss */
.header-menu {
  padding: 17px 0 0 20px;
}

/* line 41, ../sass/layout/_header.scss */
.header-search {
  float: left;
  margin: 0 0 0 15px;
}
/* line 45, ../sass/layout/_header.scss */
.header-search .text-input input {
  width: 250px;
  height: 35px;
  font-size: 0.875em;
}
/* line 52, ../sass/layout/_header.scss */
.header-search .search-btn {
  height: 35px;
  border-left: none;
  width: 40px;
}
/* line 58, ../sass/layout/_header.scss */
.header-search .text-input, .header-search .search-btn {
  float: left;
}

/* line 63, ../sass/layout/_header.scss */
.header-navigation {
  float: right;
  margin: 5px 15px 0 0;
}
/* line 68, ../sass/layout/_header.scss */
.header-navigation .user a {
  margin: 3px 0 0 8px;
}
/* line 72, ../sass/layout/_header.scss */
.header-navigation .user img {
  border: 1px solid #a7a1a1;
}
/* line 76, ../sass/layout/_header.scss */
.header-navigation .user a, .header-navigation .user img {
  float: left;
}
/* line 81, ../sass/layout/_header.scss */
.header-navigation .user {
  float: left;
}
/* line 85, ../sass/layout/_header.scss */
.header-navigation .user-nav {
  margin: 3px 0 0 0;
}
/* line 88, ../sass/layout/_header.scss */
.header-navigation .user-nav li {
  float: left;
  margin: 0 0 0 10px;
}

/* line 1, ../sass/layout/_sidebar.scss */
.sidebar {
  position: fixed;
  width: 200px;
  top: 70px;
  z-index: 1000;
  height: 100%;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  background: #FFF;
}
/* line 11, ../sass/layout/_sidebar.scss */
.sidebar .heading {
  background: #3399ff;
  height: 50px;
  padding: 15px;
}
/* line 16, ../sass/layout/_sidebar.scss */
.sidebar .heading h3 {
  font-size: 1.125em;
  color: #FFF;
}
/* line 24, ../sass/layout/_sidebar.scss */
.sidebar .navigation li {
  height: 40px;
  padding: 12px 15px 12px 15px;
  border-bottom: 1px solid #eeeeee;
}
/* line 29, ../sass/layout/_sidebar.scss */
.sidebar .navigation li.selected {
  background: url("../img/selected_navigation_item.png") repeat-y scroll left center transparent;
}
/* line 33, ../sass/layout/_sidebar.scss */
.sidebar .navigation li a {
  color: #515151;
}
/* line 36, ../sass/layout/_sidebar.scss */
.sidebar .navigation li a:hover {
  color: #3399ff;
}
/* line 42, ../sass/layout/_sidebar.scss */
.sidebar .navigation li.options {
  clear: both;
  overflow: hidden;
  padding: 0;
}
/* line 47, ../sass/layout/_sidebar.scss */
.sidebar .navigation li.options .text {
  padding: 12px 15px 12px 15px;
}
/* line 51, ../sass/layout/_sidebar.scss */
.sidebar .navigation li.options .option {
  padding: 10px;
}
/* line 57, ../sass/layout/_sidebar.scss */
.sidebar .navigation .playlists li {
  height: 30px;
  margin: 0 0 0 30px;
  padding: 9px 0 9px 15px;
  font-size: 0.75em;
  background: url("../img/selected_navigation_item.png") repeat-y scroll left center transparent;
}

/* line 68, ../sass/layout/_sidebar.scss */
.scrollable-navigation {
  overflow: hidden;
  height: 400px;
}
/* line 72, ../sass/layout/_sidebar.scss */
.scrollable-navigation .playlists {
  overflow-y: scroll;
  height: 400px;
}

/* line 2, ../sass/layout/_mainContent.scss */
.row {
  margin: 0;
}

/* line 6, ../sass/layout/_mainContent.scss */
.content-container {
  padding-left: 200px;
  padding-top: 70px;
  padding-bottom: 200px;
  overflow: hidden;
  clear: both;
  width: 100%;
  /* H4's used for side modules */
}
/* line 14, ../sass/layout/_mainContent.scss */
.content-container h3, .content-container h4, .content-container h5 {
  color: #515151;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 10px 0 10px 0;
}
/* line 21, ../sass/layout/_mainContent.scss */
.content-container h4 {
  margin: 10px 0 10px 0;
}
/* line 25, ../sass/layout/_mainContent.scss */
.content-container h5 {
  margin: 10px 0 10px 15px;
}

/* Transition effect for changing pages */
/*
.app-region {
    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: contentSlideIn;
    -moz-animation-name: contentSlideIn;
    -o-animation-name: contentSlideIn;
    animation-name: contentSlideIn;
}

@-webkit-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@-moz-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@-o-keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
@keyframes contentSlideIn { from { margin-top: 2000px; } to { margin-top: 0; } }
*/
/* line 48, ../sass/layout/_mainContent.scss */
.featured {
  clear: both;
  overflow: hidden;
}
/* line 52, ../sass/layout/_mainContent.scss */
.featured img {
  float: left;
}

/* line 57, ../sass/layout/_mainContent.scss */
.content {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 15px 15px;
}
/* line 61, ../sass/layout/_mainContent.scss */
.content .modules {
  float: left;
}
/* line 64, ../sass/layout/_mainContent.scss */
.content .modules .module {
  clear: both;
  overflow: hidden;
}

/* line 71, ../sass/layout/_mainContent.scss */
.content-footer {
  margin: 15px 0 15px 0;
}
/* line 75, ../sass/layout/_mainContent.scss */
.content-footer .pagination li {
  font-size: 14px;
}
/* line 78, ../sass/layout/_mainContent.scss */
.content-footer .pagination .current a {
  background: #00b4ff;
}

/* line 1, ../sass/layout/_side_modules.scss */
.side-modules {
  margin: 15px 0 0 0;
  float: left;
}

/* line 1, ../sass/modules/loading_icon.scss */
.loading-icon {
  margin: 100px auto 0 auto;
}

/* line 5, ../sass/modules/loading_icon.scss */
#circularG {
  margin: 0 auto 0 auto;
  position: relative;
  width: 45px;
  height: 45px;
}

/* line 11, ../sass/modules/loading_icon.scss */
.circularG {
  position: absolute;
  background-color: #515151;
  width: 10px;
  height: 10px;
  -moz-border-radius: 7px;
  -moz-animation-name: bounce_circularG;
  -moz-animation-duration: 0.56s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 7px;
  -webkit-animation-name: bounce_circularG;
  -webkit-animation-duration: 0.56s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 7px;
  -ms-animation-name: bounce_circularG;
  -ms-animation-duration: 0.56s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 7px;
  -o-animation-name: bounce_circularG;
  -o-animation-duration: 0.56s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 7px;
  animation-name: bounce_circularG;
  animation-duration: 0.56s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

/* line 43, ../sass/modules/loading_icon.scss */
#circularG_1 {
  left: 0;
  top: 18px;
  -moz-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  -ms-animation-delay: 0.21s;
  -o-animation-delay: 0.21s;
  animation-delay: 0.21s;
}

/* line 53, ../sass/modules/loading_icon.scss */
#circularG_2 {
  left: 5px;
  top: 5px;
  -moz-animation-delay: 0.28s;
  -webkit-animation-delay: 0.28s;
  -ms-animation-delay: 0.28s;
  -o-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

/* line 63, ../sass/modules/loading_icon.scss */
#circularG_3 {
  top: 0;
  left: 18px;
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

/* line 73, ../sass/modules/loading_icon.scss */
#circularG_4 {
  right: 5px;
  top: 5px;
  -moz-animation-delay: 0.42s;
  -webkit-animation-delay: 0.42s;
  -ms-animation-delay: 0.42s;
  -o-animation-delay: 0.42s;
  animation-delay: 0.42s;
}

/* line 83, ../sass/modules/loading_icon.scss */
#circularG_5 {
  right: 0;
  top: 18px;
  -moz-animation-delay: 0.49s;
  -webkit-animation-delay: 0.49s;
  -ms-animation-delay: 0.49s;
  -o-animation-delay: 0.49s;
  animation-delay: 0.49s;
}

/* line 93, ../sass/modules/loading_icon.scss */
#circularG_6 {
  right: 5px;
  bottom: 5px;
  -moz-animation-delay: 0.56s;
  -webkit-animation-delay: 0.56s;
  -ms-animation-delay: 0.56s;
  -o-animation-delay: 0.56s;
  animation-delay: 0.56s;
}

/* line 103, ../sass/modules/loading_icon.scss */
#circularG_7 {
  left: 18px;
  bottom: 0;
  -moz-animation-delay: 0.63s;
  -webkit-animation-delay: 0.63s;
  -ms-animation-delay: 0.63s;
  -o-animation-delay: 0.63s;
  animation-delay: 0.63s;
}

/* line 113, ../sass/modules/loading_icon.scss */
#circularG_8 {
  left: 5px;
  bottom: 5px;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-moz-keyframes bounce_circularG {
  /* line 124, ../sass/modules/loading_icon.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 126, ../sass/modules/loading_icon.scss */
  100% {
    -moz-transform: scale(0.3);
  }
}

@-webkit-keyframes bounce_circularG {
  /* line 130, ../sass/modules/loading_icon.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 132, ../sass/modules/loading_icon.scss */
  100% {
    -webkit-transform: scale(0.3);
  }
}

@-ms-keyframes bounce_circularG {
  /* line 136, ../sass/modules/loading_icon.scss */
  0% {
    -ms-transform: scale(1);
  }

  /* line 138, ../sass/modules/loading_icon.scss */
  100% {
    -ms-transform: scale(0.3);
  }
}

@-o-keyframes bounce_circularG {
  /* line 142, ../sass/modules/loading_icon.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 144, ../sass/modules/loading_icon.scss */
  100% {
    -o-transform: scale(0.3);
  }
}

@keyframes bounce_circularG {
  /* line 148, ../sass/modules/loading_icon.scss */
  0% {
    transform: scale(1);
  }

  /* line 150, ../sass/modules/loading_icon.scss */
  100% {
    transform: scale(0.3);
  }
}

/* line 1, ../sass/modules/_tracks_group.scss */
.tracks-group-row {
  margin: 15px 0 0 0;
}

/* line 1, ../sass/modules/_login_page.scss */
#errors {
  margin: 0 0 15px 0;
}

/* line 1, ../sass/modules/_main_page.scss */
.tracks-group-col {
  float: left;
}
/* line 4, ../sass/modules/_main_page.scss */
.tracks-group-col #popular-group, .tracks-group-col #new-releases-group {
  clear: both;
  overflow: hidden;
}

/* line 1, ../sass/modules/_single_track_page.scss */
.app-region {
  	/*.track-content {
  		padding: 10px 15px 10px 15px;
  		margin: 15px 0 15px 15px;
  		width: 960px;
  		background: #EEE;
  		border: 1px solid #d7d7d7;
  		border-radius: 4px;
  	}
  
  	.track-options {
  	}*/
}
/* line 2, ../sass/modules/_single_track_page.scss */
.app-region .player-container {
  margin: 15px;
  /*width: 60%;
  max-width: 853px;
  max-height: 480px;*/
}
/* line 8, ../sass/modules/_single_track_page.scss */
.app-region .player {
  		/*position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto;
  
  		iframe, object, embed {
  			position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  		}*/
}

/* line 36, ../sass/modules/_containers.scss */
.normal-container, .normal-container.large-container, .small-centered-container {
  background: #f7f7f7;
  border: 1px solid #d7d7d7;
  border-radius: .25em;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  margin: 15px;
}
/* line 17, ../sass/modules/_containers.scss */
.normal-container > .heading, .small-centered-container > .heading {
  width: 100%;
  height: 38px;
  background: #FFF;
  border-bottom: 1px solid #d7d7d7;
  font-size: 1.25em;
  font-weight: bold;
}
/* line 25, ../sass/modules/_containers.scss */
.normal-container > .heading .title, .small-centered-container > .heading .title {
  margin: 10px;
}
/* line 30, ../sass/modules/_containers.scss */
.normal-container > .heading .push-right, .small-centered-container > .heading .push-right {
  margin: 6px 10px 8px 0;
}
/* line 42, ../sass/modules/_containers.scss */
.normal-container .content, .small-centered-container .content {
  padding: 15px 10px 15px 10px;
  clear: both;
  overflow: hidden;
  *zoom: 1;
}

/* line 49, ../sass/modules/_containers.scss */
.large-container.normal-container, .large-container.small-centered-container {
  max-width: 960px;
}

/* line 54, ../sass/modules/_containers.scss */
.centered-container {
  margin: 0 auto 15px auto;
}

/* line 58, ../sass/modules/_containers.scss */
.small-centered-container {
  margin: 35px auto 0 auto;
  max-width: 300px;
}
/* line 63, ../sass/modules/_containers.scss */
.small-centered-container .content {
  overflow: hidden;
  *zoom: 1;
}
/* line 66, ../sass/modules/_containers.scss */
.small-centered-container .content input {
  width: 100%;
}

/*
    Descriptions for container content
 */
/* line 6, ../sass/modules/_description.scss */
.description .heading {
  font-weight: bold;
}

/*
	Group of thumbnail items with meta data.
	Used for tracks, and artists view
*/
/* line 13, ../sass/modules/_item-group.scss */
.item-row {
  margin: 15px 0 0 0;
}

/*
	Responsive thumbnail items with captions
*/
/* line 20, ../sass/modules/_item-group.scss */
.item-group .item, .item-group .small-item {
  display: inline-block;
  width: 10.6%;
  margin: 1% 1% 25px 1%;
}
/* line 3, ../sass/modules/_item-group.scss */
.item-group .item:nth-child(8n+1), .item-group .small-item:nth-child(8n+1) {
  margin: 1% 1% 25px 0;
}
/* line 27, ../sass/modules/_item-group.scss */
.item-group .item .thumb, .item-group .small-item .thumb {
  position: relative;
}
/* line 30, ../sass/modules/_item-group.scss */
.item-group .item .thumb > a:first-of-type, .item-group .small-item .thumb > a:first-of-type {
  width: 100%;
}
/* line 35, ../sass/modules/_item-group.scss */
.item-group .item .thumb .uk-overlay-toggle > a:first-of-type, .item-group .small-item .thumb .uk-overlay-toggle > a:first-of-type {
  width: 100%;
}
/* line 40, ../sass/modules/_item-group.scss */
.item-group .item .thumb img, .item-group .small-item .thumb img {
  border: 5px solid #eeeeee;
  width: 100%;
}
/* line 46, ../sass/modules/_item-group.scss */
.item-group .item .thumb .OverlayNav a, .item-group .small-item .thumb .OverlayNav a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px 0 0;
}
/* line 55, ../sass/modules/_item-group.scss */
.item-group .item .meta, .item-group .small-item .meta {
  float: left;
  margin: 5px 0 0 0;
  width: 100%;
}
/* line 60, ../sass/modules/_item-group.scss */
.item-group .item .meta .caption, .item-group .small-item .meta .caption {
  margin: 0 0 3px 0;
}
/* line 61, ../sass/modules/_item-group.scss */
.item-group .item .meta .sub-caption, .item-group .small-item .meta .sub-caption {
  color: #878787;
}
/* line 62, ../sass/modules/_item-group.scss */
.item-group .item .meta .caption, .item-group .small-item .meta .caption, .item-group .item .meta .sub-caption, .item-group .small-item .meta .sub-caption {
  height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
	Non-responsive small thumbnail items with captions
*/
/* line 74, ../sass/modules/_item-group.scss */
.item-group .small-item {
  font-size: 0.875em;
  margin: 0 10px 0 0;
  width: 75px;
}
/* line 80, ../sass/modules/_item-group.scss */
.item-group .small-item .thumb {
  cursor: pointer;
}
/* line 83, ../sass/modules/_item-group.scss */
.item-group .small-item .thumb img {
  height: 75px;
}
/* line 88, ../sass/modules/_item-group.scss */
.item-group .small-item .meta {
  margin: 0;
}
/* line 90, ../sass/modules/_item-group.scss */
.item-group .small-item .meta .caption, .item-group .small-item .meta .subcaption {
  width: 75px;
  height: auto;
}

/* line 99, ../sass/modules/_item-group.scss */
.item-group.list {
  padding: 0 13px 0 0;
}

/* line 103, ../sass/modules/_item-group.scss */
.item-group .item.listItem, .item-group .listItem.small-item {
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  padding: 5px;
  clear: both;
  overflow: hidden;
  background: #FAFAFA;
  border: 1px solid #EEE;
  border-bottom: 2px solid #EEE;
}
/* line 114, ../sass/modules/_item-group.scss */
.item-group .item.listItem .track-item-container, .item-group .listItem.small-item .track-item-container {
  width: 700px;
  float: left;
}
/* line 119, ../sass/modules/_item-group.scss */
.item-group .item.listItem .thumb, .item-group .listItem.small-item .thumb {
  float: left;
}
/* line 122, ../sass/modules/_item-group.scss */
.item-group .item.listItem .thumb img, .item-group .listItem.small-item .thumb img {
  width: 50px;
}
/* line 127, ../sass/modules/_item-group.scss */
.item-group .item.listItem .meta, .item-group .listItem.small-item .meta {
  float: left;
  width: auto;
  margin: 10px 0 0 15px;
}
/* line 132, ../sass/modules/_item-group.scss */
.item-group .item.listItem .meta .artist, .item-group .listItem.small-item .meta .artist {
  margin: 3px 0 0 0;
}
/* line 137, ../sass/modules/_item-group.scss */
.item-group .item.listItem .track-options, .item-group .listItem.small-item .track-options {
  float: right;
  margin: 10px 0 0 0;
}

/*
@media screen and (min-width: 1600px) {
	.item-group .item {
    	width: 8%;
	}
}

@media screen and (min-width: 2100px) {
	.item-group .item {
		width: 5%;
	}
}*/
/* line 18, ../sass/modules/_modal.scss */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 28, ../sass/modules/_modal.scss */
.modal-container .modal {
  position: relative;
  left: 40%;
  top: 20%;
  width: 600px;
  background: #f7f7f7;
  border: 1px solid #d7d7d7;
  border-radius: .25em;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
}
/* line 17, ../sass/modules/_containers.scss */
.modal-container .modal > .heading {
  width: 100%;
  height: 38px;
  background: #FFF;
  border-bottom: 1px solid #d7d7d7;
  font-size: 1.25em;
  font-weight: bold;
}
/* line 25, ../sass/modules/_containers.scss */
.modal-container .modal > .heading .title {
  margin: 10px;
}
/* line 30, ../sass/modules/_containers.scss */
.modal-container .modal > .heading .push-right {
  margin: 6px 10px 8px 0;
}
/* line 9, ../sass/modules/_modal.scss */
.modal-container .modal .close {
  cursor: pointer;
}
/* line 13, ../sass/modules/_modal.scss */
.modal-container .modal .content {
  padding: 15px 10px 15px 10px;
}
/* line 32, ../sass/modules/_modal.scss */
.modal-container .small-modal {
  position: relative;
  left: 40%;
  top: 20%;
  width: 300px;
  background: #f7f7f7;
  border: 1px solid #d7d7d7;
  border-radius: .25em;
  -webkit-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.1);
}
/* line 17, ../sass/modules/_containers.scss */
.modal-container .small-modal > .heading {
  width: 100%;
  height: 38px;
  background: #FFF;
  border-bottom: 1px solid #d7d7d7;
  font-size: 1.25em;
  font-weight: bold;
}
/* line 25, ../sass/modules/_containers.scss */
.modal-container .small-modal > .heading .title {
  margin: 10px;
}
/* line 30, ../sass/modules/_containers.scss */
.modal-container .small-modal > .heading .push-right {
  margin: 6px 10px 8px 0;
}
/* line 9, ../sass/modules/_modal.scss */
.modal-container .small-modal .close {
  cursor: pointer;
}
/* line 13, ../sass/modules/_modal.scss */
.modal-container .small-modal .content {
  padding: 15px 10px 15px 10px;
}
/* line 36, ../sass/modules/_modal.scss */
.modal-container .small-modal .content input[type=text] {
  width: 100%;
}

/* line 1, ../sass/modules/_voting.scss */
.vote {
  display: inline-block;
  margin: 0 0 5px 0;
}
/* line 5, ../sass/modules/_voting.scss */
.vote a {
  cursor: pointer;
}
/* line 9, ../sass/modules/_voting.scss */
.vote .like, .vote .dislike {
  float: left;
}
/* line 13, ../sass/modules/_voting.scss */
.vote .dislike {
  margin: 0 0 0 10px;
}

/* line 18, ../sass/modules/_voting.scss */
.vote.liked, .stats {
  float: right;
}
/* line 21, ../sass/modules/_voting.scss */
.vote.liked .thumbs-like, .stats .thumbs-like {
  color: #3399ff;
}

/* line 27, ../sass/modules/_voting.scss */
.vote.disliked .thumbs-dislike, .stats .thumbs-dislike {
  color: #ff3333;
}

/* line 32, ../sass/modules/_voting.scss */
.likes.uk-badge, .dislikes.uk-badge {
  background: #EEE;
  color: #515151;
  text-shadow: none;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  border-top: 1px solid #d7d7d7;
  position: fixed;
  z-index: 1010;
  bottom: 0;
  height: 200px;
  background: #eeeeee;
  width: 100%;
}

/* line 12, ../sass/layout/_footer.scss */
.player-container .controls-container {
  margin: 0 15px 0 343px;
}
/* line 16, ../sass/layout/_footer.scss */
.player-container #ytPlayer {
  position: absolute;
  width: 328px;
}
/* line 21, ../sass/layout/_footer.scss */
.player-container .controls {
  padding: 10px 0 10px 0;
}
/* line 24, ../sass/layout/_footer.scss */
.player-container .controls .left-controls {
  margin: 0 0 10px 0;
}
/* line 31, ../sass/layout/_footer.scss */
.player-container .controls .timing {
  float: right;
  padding: 0 0 0 10px;
}
/* line 36, ../sass/layout/_footer.scss */
.player-container .controls .Progress-container {
  margin: 1px 0 0 0;
}
/* line 40, ../sass/layout/_footer.scss */
.player-container .controls .Progress {
  transition: all;
  -webkit-transition: all;
}
/* line 45, ../sass/layout/_footer.scss */
.player-container .controls .uk-progress .handle {
  position: relative;
  background: url("../img/test_handle.png") no-repeat;
  height: 19px;
}
/* line 51, ../sass/layout/_footer.scss */
.player-container .controls .Volume-indicator {
  margin: 5px 0 0 25px;
}
/* line 55, ../sass/layout/_footer.scss */
.player-container .controls .Volume {
  position: absolute;
  left: 500px;
  bottom: 170px;
  width: 100px;
}
/* line 63, ../sass/layout/_footer.scss */
.player-container .queue {
  height: 119px;
  background: #FFF;
  overflow: hidden;
  clear: both;
}
/* line 70, ../sass/layout/_footer.scss */
.player-container .queue.uk-panel-box {
  padding: 8px;
}
/* line 74, ../sass/layout/_footer.scss */
.player-container .queueItems {
  width: 100%;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
/* line 83, ../sass/layout/_footer.scss */
.player-container .queueItem:nth-child(8n+1) {
  margin: 0 10px 0 0;
}
/* line 86, ../sass/layout/_footer.scss */
.player-container .queueItem .Index {
  display: none;
}

/* line 2, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options {
  margin: 0 0 15px 0;
  padding: 0 0 0 15px;
}
/* line 6, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types {
  float: right;
  padding-right: 13px;
}
/* line 10, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types a {
  font-size: 14px;
}
/* line 13, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .view-types .selected.button {
  background-color: #00b4ff;
  border: 1px solid #0079ab;
  color: #FFFFFF;
}
/* line 20, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .filter-input-container {
  float: left;
}
/* line 24, ../sass/modules/content_main_modules/_options_bar.scss */
.content-container .options .filter-remove {
  float: left;
  margin: 0 0 0 3px;
}

/* line 32, ../sass/modules/content_main_modules/_options_bar.scss */
#sort-dropdown, #order-dropdown {
  font-size: 14px;
}
/* line 35, ../sass/modules/content_main_modules/_options_bar.scss */
#sort-dropdown ul, #order-dropdown ul {
  min-width: 100%;
}
