*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
    cursor: auto;
}

a {
    color: $base-font-color;

    &:hover {
        color: $base-link-hover;
    }
}

.AddToMenu {
    position: absolute;
    background: #FFF;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    width: 150px;
    z-index: 1100;

    a {
        cursor: pointer;
    }
}

.btn-block {
    width: 100%;
    text-align: center;
}

.text-center {
    text-align: center;
}