*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
    cursor: auto;
}

a {
    color: $base-font-color;

    &:hover {
        color: $base-link-hover;
    }
}

/**
 * Overrides for Semantic UI and Foundation
 */

// Remove box shadows from inputs (Overrides Foundation)
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    box-shadow: none;
    webkit-box-shadow: none;
    height: 34px;
}