//@include sticky-footer (70px, ".container", ".push", ".footer");

.footer {
    position: fixed;
    z-index: 1010;
    bottom: 0;
    height: 200px;
    background: $base-module-bg;
    width: 100%;
    /*position: relative;
    background: $base-module-bg;
    z-index: 9999;
    height: 70px;
    width: 100%;
    clear: both;
    margin: 0 auto 0 auto;
    border-right: 1px solid #d7d7d7;
    padding: 20px 15px 15px 15px;

    .footer-logo {
        float: left;
        font-size: $heading-content-size;
        font-family: $heading-font-family;
        color: $base-font-color;
    }

    .social-links {
        float: right;
        margin: 7px 0 0 0;
        li {
            float: left;
            margin: 0 0 0 5px;
        }
    }*/
}

.player-container {
    #ytPlayer {
        float: left;
    }
    .controls {
        margin: 15px;
        float: left;
    }
}