.footer {
    border-top: 1px solid #d7d7d7;
    position: fixed;
    z-index: 1010;
    bottom: 0;
    height: 200px;
    background: $base-module-bg;
    width: 100%;
}

.player-container {
    .controls-container {
        margin: 0 15px 0 343px;
    }
    
    #ytPlayer {
        position: absolute;
        width: 328px;
    }
    
    .controls {
        padding: 10px 0 10px 0;
        
        .left-controls {
            margin: 0 0 10px 0;
        }
        
        .right-controls {
        }
        
        .timing {
            float: right;
            padding: 0 0 0 10px;
        }
        
        .Progress-container {
            margin: 1px 0 0 0;
        }
        
        .Progress {
            transition: all;
            -webkit-transition: all;
        }
        
        .uk-progress .handle {
            position: relative;
            background: url('../img/test_handle.png') no-repeat;
            height: 19px;
        }
        
        .Volume-indicator {
            margin: 5px 0 0 25px;
        }
        
        .Volume {
            position: absolute;
            left: 500px;
            bottom: 170px;
            width: 100px;
        }
    }
    
    .queue {
        height: 119px;
        background: #FFF;
        overflow: hidden;
        clear: both;
    }
    
    .queue.uk-panel-box {
        padding: 8px;
    }
    
    .queueItems {
        /*padding: 10px 15px 10px 15px;
        list-style-type: none;
        background: #FFF;
        overflow: hidden;
        clear: both;*/
    }
    
    .queueItem {
        float: left;
        font-size: .875em;
        margin: 0 10px 0 0;
        width: 75px;

        .Index { display: none; }

        .small-thumb {
            position: relative;
            cursor: pointer;
            
            img {
                height: 75px;
            }
        }
        
        .meta {
            .title, .artist {
                display: block;
                width: 75px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    
}