//@include sticky-footer (70px, ".container", ".push", ".footer");

.footer {
    border-top: 1px solid #d7d7d7;
    position: fixed;
    z-index: 1010;
    bottom: 0;
    height: 200px;
    background: $base-module-bg;
    width: 100%;
    /*position: relative;
    background: $base-module-bg;
    z-index: 9999;
    height: 70px;
    width: 100%;
    clear: both;
    margin: 0 auto 0 auto;
    border-right: 1px solid #d7d7d7;
    padding: 20px 15px 15px 15px;

    .footer-logo {
        float: left;
        font-size: $heading-content-size;
        font-family: $heading-font-family;
        color: $base-font-color;
    }

    .social-links {
        float: right;
        margin: 7px 0 0 0;
        li {
            float: left;
            margin: 0 0 0 5px;
        }
    }*/
}

.player-container {
    .controls-container {
        margin: 0 15px 0 343px;
    }
    
    #ytPlayer {
        position: absolute;
        width: 328px;
    }
    
    .controls {
        padding: 10px 0 10px 0;
        
        .left-controls {
            margin: 0 0 10px 0;
        }
        
        .right-controls {
        }
        
        .timing {
            float: right;
            padding: 0 0 0 10px;
        }
        
        .Progress-container {
            margin: 1px 0 0 0;
        }
        
        .uk-progress .handle {
            position: relative;
            background: url('../img/test_handle.png') no-repeat;
            height: 19px;
        }
    }
    
    .queue {
        background: #FFF;
        overflow: hidden;
        clear: both;
    }
    
    .queue.uk-panel-box {
        padding: 8px;
    }
    
    .queueItems {
        /*padding: 10px 15px 10px 15px;
        list-style-type: none;
        background: #FFF;
        overflow: hidden;
        clear: both;*/
    }
    
    .queueItem {
        cursor: pointer;
        float: left;
        font-size: .875em;
        margin: 0 10px 0 0;
        
        .small-thumb img {
            
            width: 75px;
            height: 75px;
        }
    }
    
}