.header {
    background: $base-module-bg;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1010;
    border: 1px solid #d7d7d7;
    clear: both;
    width: 100%;
}

.small-logo {
    width: 80px;
}

.logo {
    width: 198px;
    float: left;
    height: 69px;
    padding: 2px 0 0 10px;

    .brand {
        float: left;
        width: 65px;
    }

    .name {
        float: left;
        margin: 13px 0 0 3px;
        font-size: 2.5em;
        a:hover {
            text-decoration: none;
        }
    }
}

.header-menu {
    padding: 17px 0 0 20px;
}

.header-search {
    float: left;
    margin: 0 0 0 15px;
    .text-input {
        input {
            width: 250px;
            height: 35px;
            font-size: $base-font-size;
        }
    }

    .search-btn {
        height: 35px;
        border-left: none;
        width: 40px;
    }

    .text-input, .search-btn {
        float: left;
    }
}

.header-navigation {
    float: right;
    margin: 5px 15px 0 0;

    .user {
        a {
            margin: 3px 0 0 8px;
        }

        img {
            border: 1px solid #a7a1a1;
        }

        a, img {
            float: left;
        }
    }

    .user{
        float: left;
    }

    .user-nav {
        margin: 3px 0 0 0;

        li {
            float: left;
            margin: 0 0 0 10px;
        }
    }
}