@import "compass";

// Fonts
$base-font-family: "PT Sans", Helvetica, sans-serif;
$base-font-size: 0.875em;
$sidebar-heading-font-size: 1.125em;
$base-small-font: 0.75em;

// Headings
$heading-font-family: "PT Sans Narrow", Helvetica, sans-serif;
$heading-content-size: 1.5em;


