@import "compass";

// Fonts
$base-font-family: "PT Sans", Helvetica, sans-serif;
$base-font-size: 14px;
$sidebar-heading-font-size: 18px;
$base-small-font: 12px;

// Headings
$heading-font-family: "PT Sans Narrow", Helvetica, sans-serif;
$heading-content-size: 24px;


