// Fonts
$base-font-color: #515151;
$base-light-font-color: #878787;
$base-link-hover: #3399ff;

$base-light-blue: #00b4ff;
$base-dark-blue: #0079ab;

$base-module-bg: #eeeeee;
$base-content-side-module-bg: #f6f6f6;

$grey-border: #d7d7d7;

$logo-bg: #515151;

$seperator-color: #eeeeee;